<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>Login - AgroAI</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
    <script src="{{ url_for('static', filename='auth.js') }}" defer></script>
  </head>
  <body>
   <div class="container auth">

      <header>
        <h1 style="margin-top: 50px;">Login</h1>
      </header>

      <main>
        <div class="input-section">
          <input id="login-username" placeholder="Username" style="height: 30px;"/>
          <input id="login-password" type="password" placeholder="Password"  style="height: 30px;" />
          <button id="login-btn" class="login-button">Login</button>
          <p>Don't have an account? <a href="/register">Register</a></p>
        </div>
      </main>
    </div>
  </body>
</html>
